* {padding: 0;
    margin: 0;
}
header{
    background-color: #333;
    color: white;
    height: 100px;
    text-align: center;
}

nav{
    background-color: #802424;
    color: white;
   width: 70%;
   height: 450px;
   float: left;
    text-align: center;
}
main{
    background-color: #1bb367;
    color: white;
    width: 30%;
    height: 450px;
    text-align: center;
    float: left;
}
footer{
    background-color: #ff0202;
    color: white;
   height: 50px;
    text-align: center;
    clear: both;
}